
<h1>Dog Form</h1>
<form method="post" action="/make-a-dog" >
    <div>
        <label>Name</label>
        <input name="dog[name]" type="text" />
    </div>
    <div>
        <label>Age </label>
        <input name="dog[age]" type="number" />
    </div>
    <div>
        <label>Image URL </label>
        <input name="dog[img_url]" type="text" />
    </div>
    <input type="submit">
</form>