<form method="post" action="/make-a-dog">

    <div>
        <label>Name</label>
        <input name="owner[name]" type="text" />
    </div>
    <div>
        <label>Tess</label>
        <input value="1" name="owner[dogs][]" type="checkbox">
    </div>
     <div>
        <label>Tilly</label>
        <input value="2" name="owner[dogs][]"type="checkbox">
    </div>
     <div>
        <label>Rizo</label>
        <input value="3" name="owner[dogs][]" type="checkbox">
    </div>
    <input type="submit">
</form>